{%extends 'main/base.html' %}

{% load static %}
{% block css_add %}
    <link rel="stylesheet" href="{% static 'itc_site/css/style.css' %}">
{%endblock%}


{% block title %}
Страница про нас
{%endblock%}
{% block content %}

<div class="glass">
    <span>Об учреждении</span>
</div>
<footer class="pt-1 my-md-5 pt-md-1 border-top">
</footer>

<div id="timeline">
    <div class="timeline-item">
        <div class="timeline-icon">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="timeline-content">
            <h4>14 июля 2022</h4>
            <p>Создание учреждения</p>
        </div>
    </div>
    <!-- Еще события -->
    <div class="timeline-item">
        <div class="timeline-icon">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="timeline-content">
            <h4>Заголовок</h4>
            <p>Текст события.</p>
        </div>
    </div>
</div>
{%endblock%}

