{%extends 'main/base.html' %}
{% block title %}
Контакты
{%endblock%}

{% block content %}
<div class="nesolestag-enadenud">
  <h3 style="text-align:center;">Контакты</h3>

  <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title">Юридический адрес:</h4>
  <div class="aio-icon-description">
  670000, г. Улан-Удэ, ул. Ленина, 54</div>
  </div>

  <span class="kesednsoled"></span>

  <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title">График работы:</h4>
  <div class="aio-icon-description">
  пн.-пт. с 8:30 до 17:30, с перерывом на обед
  </div>
  </div>

  <span class="kesednsoled"></span>

  <div class="ico-wrap">
  <i class="fa fa-envelope ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title">Электронная почта:</h4>
  <a href="mailto:itc@govrb.ru"> itc@govrb.ru</a>
  </div>
  </div>

  <span class="kesednsoled"></span>

  <div class="ico-wrap">
  <i class="fa fa-phone ico-contact"></i>
  </div>
  <div class="meanous-andscoev">
  <h4 class="aio-icon-title">Связь по телефону:</h4>
  <div class="aio-icon-description">
  8 (3012) 21-27-00</div>
  </div>

  <span class="kesednsoled"></span>

</div>
{%endblock%}



