{%extends 'main/base.html' %}
{% block title %}
Контакты
{%endblock%}

{% block content %}
<div class="nesolestag-enadenud">
  <p class="col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-12 bg-light shadow-sm py-3 item-block" align="center"><b>Руководство</b></p>
          <br>
          <p> <b>Руководитель:</b> Бертунова Бэлигма Базаровна </p>
          <p>Контактный телефон: +7 (3012) 212-700</p> <p>
          <b>Заместитель руководителя :</b> Лебедев Алексей Юрьевич  </p>
          <p>Контактный телефон: +7 (3012) 212-700 (702)</p>
          <p> <b>Главный бухгалтер:</b> Ефремова Александра Геннадьевна </p>
          <p>Контактный телефон: +7 (3012) 212-700 (703)</p> <p>


<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p class="col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-12 bg-light shadow-sm py-3 item-block" align="center"><b>Техническая поддержка</b></p><br>
    <p> 1. Заявка оформляется через <a href="http://helpdesk.govrb.ru"> веб-сайт</a> путем заполнения формы.</p>
    <p> 2. <a href="mailto:helpdesk@govrb.ru"> helpdesk@govrb.ru</a>   Заявка оформляется в произвольной форме и направляется на адрес электронной почты</p>
    <p> 3. Заявка оформляется устно через оператора по телефону: +7 (3012) 21-44-51 </p>
</footer>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
    </div>
    <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Юридический адрес:</h4>
        <div class="aio-icon-description">
        670001, г. Улан-Удэ, ул. Ленина, 54</div>
    </div>
<br>

    <span class="kesednsoled"></span>
        <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
        </div>
            <div class="meanous-andscoev">
            <h4 class="aio-icon-title">График работы:</h4>
            <div class="aio-icon-description">
            пн.-пт. с 8:30 до 17:30, с перерывом на обед
        </div>
<br>

</div>
    <span class="kesednsoled"></span>
        <div class="ico-wrap">
        <i class="fa fa-envelope ico-contact"></i>
        </div>
        <div class="meanous-andscoev">
            <h4 class="aio-icon-title">Электронная почта:</h4>
            <a href="mailto:itc@govrb.ru"> itc@govrb.ru</a>
        </div>
        <span class="kesednsoled"></span>
        <div class="ico-wrap">
        </div>
        <div class="meanous-andscoev">
    <br>

<h4 class="aio-icon-title">Связь по телефону:</h4>
<div class="aio-icon-description">
+7 (3012) 212-700</div>
</div>
<span class="kesednsoled"></span>
</div>
</footer>

{%endblock%}



