{%extends 'main/base.html' %}
{% load static %}
{% block css_add %}
    <link rel="stylesheet" href="{% static 'itc_site/css/style.css' %}">
{%endblock%}
{% block title %}
Контакты
{%endblock%}

{% block content %}
    <?php
        include 'php/1.php';
    ?>

    <p class="col-xs-1 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-12 bg-light shadow-sm py-3 item-block" align="center"><b>Техническая поддержка</b></p><br>
    <p> 1. Заявка оформляется через <a href="http://helpdesk.govrb.ru"> веб-сайт</a> путем заполнения формы.</p>
    <p> 2. <a href="mailto:helpdesk@govrb.ru"> helpdesk@govrb.ru</a>   Заявка оформляется в произвольной форме и направляется на адрес электронной почты</p>
    <p> 3. Заявка оформляется устно через оператора по телефону: +7 (3012) 21-44-51 </p>
    <br>

<p class="col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-12 bg-light shadow-sm py-3 item-block" align="center"><b>Контакты</b></p><br>
    <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
    </div>
    <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Юридический адрес:</h4>
        <div class="aio-icon-description">
        670001, г. Улан-Удэ, ул. Ленина, 54</div>
    </div>
<br>

    <span class="kesednsoled"></span>
        <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
        </div>
            <div class="meanous-andscoev">
            <h4 class="aio-icon-title">График работы:</h4>
            <div class="aio-icon-description">
            пн.-пт. с 8:30 до 17:30, с перерывом на обед
        </div>
<br>

</div>
    <span class="kesednsoled"></span>
        <div class="ico-wrap">
        <i class="fa fa-envelope ico-contact"></i>
        </div>
        <div class="meanous-andscoev">
            <h4 class="aio-icon-title">Электронная почта:</h4>
            <a href="mailto:itc@govrb.ru"> itc@govrb.ru</a>
        </div>
        <span class="kesednsoled"></span>
        <div class="ico-wrap">
        </div>
        <div class="meanous-andscoev">
    <br>

<h4 class="aio-icon-title">Связь по телефону:</h4>
<div class="aio-icon-description">
+7 (3012) 212-700</div>
</div>
<span class="kesednsoled"></span>
</div>

<br>

<div class="forma">
    <p class="col-xs-1 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-12 bg-light shadow-sm py-3 item-block" align="center"><b>Форма обратной связи</b></p>
    <div class="form-at">
        <div class="validate-input-at w-50" data-validate="Обязательное поле">
            <input class="input-at" type="text" name="name-at" placeholder="Ваше имя" />
            <span class="focus-input-at"></span>
        </div>
        <div class="validate-input-at w-50" data-validate="Обязательное поле">
            <input class="input-at" type="text" name="email-at" placeholder="Ваш телефон или email" />
            <span class="focus-input-at"></span>
        </div>
        <div class="validate-input-at" data-validate="Обязательное поле">
            <textarea class="input-at" name="message-at" placeholder="Ваше сообщение"></textarea>
            <span class="focus-input-at"></span>
        </div>
        <input checked="checked" class="input-at" id="checkbox-at" type="checkbox" name="checkbox-at" onchange="document.getElementById('submit-at').disabled = !this.checked;" />
        <label for="checkbox-at">
            Настоящим подтверждаю, что я ознакомлен и согласен с <a href="#rules">пользовательским соглашением</a>
        </label>
        <input type="hidden" name="subject-at" value="Тема формы">
        <button id="submit-at" class="form-at-btn">Отправить</button>
    </div>
    <div class="result-at"></div>
</div>

<script>
    $(function() {
	$('.forma').each(function() {
		var $frm = $(this);
		var input = $(this).find('.validate-input-at .input-at');
		var butsend = $(this).find('.form-at-btn');
		butsend.on('click',function(){
			var check = true;
			for(var i=0; i<input.length; i++) {
				if(validate(input[i]) == false){
					showValidate(input[i]);
					check=false;
				}
			}
			// Отправка формы
			if (check == true) {
				$.post("/send.php", $frm.find(".form-at select, .form-at input, .form-at textarea").serialize(),
					function(data){
						if(data.frm_check == 'error'){
							$frm.find(".result-at").html("<div class='error-at'>Ошибка: " + data.msg + "</div>");
							} else {
							$frm.find(".result-at").html("<div class='success-at'>Ваше сообщение отправлено!</div>");
							$frm.find(".form-at").fadeOut(500);
							$frm.find(".input-at").val("");
						}
					}, "json");
					return false;
			}
		});
		$('.form-at .input-at').each(function(){
			$(this).focus(function(){
				hideValidate(this);
			});
		});

	});
	function validate(input) {
			if($(input).attr('type') == 'email' || $(input).attr('name') == 'email-at') {
			if($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
			return false;
			}
			}
		if($(input).val().trim() == ''){
			return false;
		}
	}
	function showValidate(input) {
		var thisAlert = $(input).parent();
		$(thisAlert).addClass('alert-validate');
	}
	function hideValidate(input) {
		var thisAlert = $(input).parent();
		$(thisAlert).removeClass('alert-validate');
	}
});
</script>

<br>
<footer class="pt-1 my-md-5 pt-md-1 border-top">
</footer>

<ul class="social-icons-5">
    <li><a href="https://vk.com/buryatiaofficial" target="_blank"><i class="fa-brands fa-vk"></i></a></li>
    <li><a href="https://egov-buryatia.ru/agip/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Coat_of_Arms_of_Buryatia.svg/1200px-Coat_of_Arms_of_Buryatia.svg.png"></a></li>
    <li><a href="https://t.me/buryatiaofficial" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
</ul>
<br>
{%endblock%}



