{%extends 'main/base.html' %}

{% load static %}
{% block css_add %}
    <link rel="stylesheet" href="{% static 'itc_site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'itc_site/files/met.doc' %}">
{%endblock%}

{% block title %}
Противодействие коррупции
{%endblock%}

{% block content %}

<p class="structure col-xs-5 col-sm-6 col-md-4 col-lg-5 col-xl-3 col-xxl-12 bg-light shadow py-4 item-block" align="center">
<b>Материалы по антикоррупционному просвящению граждан</b></p>


<ul class="list3a">
    <li><a href="http://pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=603637722">Указ Президента РФ</a></li>
    <li><a href="https://mintrud.gov.ru/ministry/programms/anticorruption/015/0" target="_blank">Методические рекомендации по разработке и принятию организациями мер
по предупреждению и противодействию коррупции
</a></li>
    <li><a href="https://www.consultant.ru/document/cons_doc_LAW_82959/">ФЗ от 25.12.2008 №273-ФЗ о противодействии коррупции</a></li>
    <li><a href="https://egov-buryatia.ru/authorities/glava-rb/protivodeystvie-korruptsii-v-respublike-buryatiya/normativnye-pravovye-i-inye-akty-v-sfere-protivodeystviya-korruptsii/deystvuyushchie-zakony-respubliki-buryatiya-ukazy-glavy-respubliki-buryatiya-postanovleniya-pravitel/?clear_cache=Y">Действующие законы Республики Бурятия, указы Главы Республики Бурятия, постановления Правительства Республики Бурятия</a></li>
</ul>
<br>
<hr>

{%endblock%}