{%extends 'main/base.html' %}

{% load static %}
{% block css_add %}
    <link rel="stylesheet" href="{% static 'itc_site/css/style.css' %}">
{%endblock%}

{% block title %}
Деятельность
{%endblock%}

{% block content %}
<p class="structure col-xs-5 col-sm-6 col-md-4 col-lg-5 col-xl-3 col-xxl-12 bg-light shadow py-4 item-block" align="center"><b>Основные задачи</b></></p>
<p>Техническое обеспечение функционирования центра обработки данных Администрации Главы Республики Бурятия и Правительства Республики Бурятия.</p>
<p>Техническое обеспечение функционирования подсистем инфраструктуры ИВС Правительства РБ (комплекс программного и аппаратного обеспечения с целью создания безопасных, отказоустойчивых и управляемых каналов передачи данных).
<p>Обеспечение реализации полномочий Правительства Республики Бурятия по внедрению информационных технологий в деятельность исполнительных органов государственной власти Республики Бурятия.</p>
<p>Организация информационной безопасности государственных информационных ресурсов и информационных систем в Информационной вычислительной сети Правительства Республики Бурятия.
</p>
<p>Реализация мероприятий по организации специальной документальной связи, обеспечение ее функционирования и безопасности.
</p>
<p>Организация деятельности по выпуску, выдаче и обслуживанию универсальных электронных карт на территории Республики Бурятия от имени уполномоченного исполнительного органа государственной власти Республики Бурятия, осуществляющего организацию деятельности по выпуску, выдаче и обслуживанию универсальных электронных карт, предусмотренных Федеральным законом от 27.07.2010 N 210-ФЗ "Об организации предоставления государственных и муниципальных услуг".
</p>
<p>Формирование и обеспечение функционирования в Республике Бурятия электронного правительства.
</p>
<p>Координация деятельности исполнительных органов государственной власти Республики Бурятия по организации межведомственного электронного взаимодействия при предоставлении государственных и муниципальных услуг.
Координация деятельности исполнительных органов государственной власти Республики Бурятия по организации предоставления государственных и муниципальных услуг в электронной форме</p>
<br>

<p class="structure col-xs-5 col-sm-6 col-md-4 col-lg-5 col-xl-3 col-xxl-12 bg-light shadow py-4 item-block" align="center"><b>Наши проекты</b></></p>
<ul class="list5a">
    <li>Система документооборота TESSA</li>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
    <li>Элемент списка</li>
</ul>

<footer class="pt-1 my-md-5 pt-md-1 border-top">
</footer>
{%endblock%}