body {
    background-color: #fafafa;
    overflow-x: hidden;
}
.sticky {
    position: sticky;
    top: 0;
}
.glass-btn {
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.glass-btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 0 10px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    color: #141109;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 11px;
    z-index: 1;
    transition: 1.0s;
    backdrop-filter: blur(11px);
}
.glass-btn:hover a {
    letter-spacing: 2px;
}
.glass-btn a:before {
    content: "";
    position: absolute;
    top: 25;
    left: 10;
    width: 90%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}
.glass-btn:hover a:before {
    transform: skewX(45deg) translate(100px);
}
.glass-btn a:after {
    content: "";
    position: absolute;
    top: 25%;
    left: 100%;
    width: 35;
    height: 10;
    transition: 1.8s;
    border-radius: 90px;
    z-index: -1;
}
.glass-btn:hover a:after {
    left: 15;
    top: 70;
    width: 40%;
    height: 70%;
}
.glass-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -2px;
    width: 55px;
    height: 10px;
    background: #f00;
    border-radius: 5px;
    transition: 1.5s;
    transition-delay: 0.8;
}
.glass-btn:hover:before {
    bottom: 20;
    height: 80%;
    width: 80%;
    border-radius: 10px;
}
.glass-btn.glass-btn-red a:after,
.glass-btn.glass-btn-red:before {
    background: #ff1010;
    box-shadow: 0 0 5px #ff4747, 0 0 10px #ff4747, 0 0 20px #ff4747, 0 0 20px #ff4747;
}
.glass-btn.glass-btn-blue a:after,
.glass-btn.glass-btn-blue:before{
    background: #419cec;
    box-shadow: 0 0 5px #419cec, 0 0 10px #419cec, 0 0 20px #419cec, 0 0 20px #419cec;
}

.gradient {
    background: #adcfff;
    background: linear-gradient(to top, #adcfff, #e0f2ff);
   }
.list1b {
	margin: 20px 0 0;
	padding:0;
	list-style: none;
	counter-reset: li;
}
.list1b li {
	border: 2px solid #DDDDDD;
	background: #FAFAFA;
	position: relative;
	margin-bottom: 20px;
	padding: 16px 10px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.list1b li:hover {
	z-index: 1;
	border: 2px solid #ADCEE9;
}
.list1b li:before {
	border: 2px solid #ADCEE9;
	position: absolute;
	top: -14px;
	padding: 2px 10px;
	font-size: 11px;
	font-weight: bold;
	color: #337AB7;
	background: #F7FAFD;
	counter-increment: li;
	content: counter(li);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.list1b li:hover:before {
	border: 2px solid #337AB7;
	background: #337AB7;
	color: #FFF;
	-webkit-transform: translate(-12px, 0);
	-ms-transform: translate(-12px, 0);
	-o-transform: translate(-12px, 0);
	transform: translate(-12px, 0);
}
.list1b li:after {
	content: "";
	position: absolute;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: width;
	transition-property: width;
	z-index: -1;
	background: #F0F5FB;
	height: 100%;
	left: 0;
	top: 0;
	width: 0;
}
.list1b li:hover:after {
	width: 100%;
}



.glass {
	height: 400px;
	width: 68%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("http://baikalrb.ru/upload/resize_cache/iblock/d98/710_1420_1/d9807a85ceff48c82e377743fee3c003.jpg") center no-repeat;
}
.glass span {
	position: relative;
	text-align: center;
	color: #FFF;
	width: 80%;
	font-size: 36px;
	line-height: 40px;
	padding: 40px 0;
	box-shadow: 0 7px 35px rgba(0,0,0,0.2), 0 16px 28px rgba(0,0,0,0.2);
	text-shadow: 0 0 12px rgba(0,0,0,0.6);
	text-transform: uppercase;
	font-family: 'Roboto', Tahoma, sans-serif;
	letter-spacing: 4px;
	z-index: 1;
	overflow: hidden;
}
.glass span:before {
	content: "";
	position: absolute;
	top: -50%;
	left: -50%;
	height: 200%;
	width: 200%;
	background: url("background.jpg") center no-repeat;
	filter: blur(8px);
	z-index: -1;
}

.social-icons-5 {
	list-style: none;
    margin: 10px;
	padding: 0;
	display: flex;
	justify-content: center;
}
.social-icons-5 a {
	text-decoration: none;
	color: #fff;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin: 0 6px;
	font-size: 26px;
	background: #337AB7;
	transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
	transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
	transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.social-icons-5 a img {
	width: 26px;
	height: 26px;
}
.social-icons-5 a i,
.social-icons-5 a img {
	transition: transform 0.4s linear 0s;
}
.social-icons-5 a:hover {
	transform: rotate(360deg);
	border-radius: 50%;
}
.social-icons-5 a:hover i,
.social-icons-5 a:hover img {
	transform: rotate(-360deg);
}